<div class="container">
    <div class="page-title">Home</div>
    <div style="display: block;text-align: center;">
        <dashboard-box label="Clients" icon="user"
            on-click="vm.onClientClick()"></dashboard-box>
        <dashboard-box label="Vendors" icon="knight"
            on-click="vm.onVendorClick()"></dashboard-box>
        <dashboard-box label="Requests" icon="tasks"
            on-click=""></dashboard-box>
        <dashboard-box label="Orchestration" icon="link"
            on-click=""></dashboard-box>
        <dashboard-box label="Logout" icon="off" red
            on-click="vm.onHomeClick()"></dashboard-box>
    </div>
</div>
