<!doctype html>
<html lang="en" ng-app="cmaManagementApp" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Cognitive Medical Assistant - Management App</title>
    
    <!--bower js files-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
    
    <!--bower css files-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-busy/dist/angular-busy.css" rel="stylesheet">
    <link href="bower_components/ng-dialog/css/ngDialog.css" rel="stylesheet">
    <link href="bower_components/ng-dialog/css/ngDialog-theme-default.css" rel="stylesheet">

    <!--app js files-->
    <script src="app.js"></script>
    <script src="appjs/filters/dateFormatter.js"></script>
    <script src="appjs/filters/hideChar.js"></script>
    <script src="appjs/filters/msgShow.js"></script>
    <script src="appjs/filters/rootScopeShow.js"></script>
    <script src="appjs/filters/sugShow.js"></script>
    <script src="appjs/controllers/monitorModule/monitoringGroupController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorAllVendorController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorVendorDetailsController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorLocController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorAllRequestController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorLoginController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorRegistrationController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorAllClientController.js"></script>
    <script src="appjs/controllers/monitorModule/monitorClientDetailsController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorRequestController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorLoginController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorRegistrationController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorProfileController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorLandingController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorInfoEditController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorPassController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorEmailsController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorPhonesController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorRespondedRequestController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorLocsController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorLocController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorLocViewController.js"></script>
    <script src="appjs/controllers/vendorModule/vendorAssignmentController.js"></script>
    <script src="appjs/controllers/userModule/userLoginController.js"></script>
    <script src="appjs/controllers/userModule/userChangePassController.js"></script>
    <script src="appjs/controllers/userModule/userInfoController.js"></script>
    <script src="appjs/controllers/userModule/userMedHisController.js"></script>
    <script src="appjs/controllers/userModule/userAllergicController.js"></script>
    <script src="appjs/controllers/userModule/userEmailsController.js"></script>
    <script src="appjs/controllers/userModule/userEPhoneController.js"></script>
    <script src="appjs/controllers/userModule/userLandingController.js"></script>
    <script src="appjs/controllers/userModule/userNewReqDetailsController.js"></script>
    <script src="appjs/controllers/appHomeController.js"></script>
    <script src="appjs/services/config/routeconfig.js"></script>
    <script src="appjs/controllers/userModule/userRequestController.js"></script>
    <script src="appjs/controllers/userModule/userRegistrationController.js"></script>
    <script src="appjs/controllers/userModule/userProfileController.js"></script>
    <script src="appjs/controllers/common/aboutUsController.js"></script>
    <script src="appjs/controllers/common/contactUsController.js"></script>
    <script src="appjs/controllers/common/howWorkController.js"></script>
    <script src="appjs/services/config/dataLayer.js"></script>
    <script src="appjs/services/config/appconfig.js"></script>
    <script src="appjs/services/config/apprun.js"></script>
    <script src="appjs/services/config/routeconfig.js"></script>
    <script src="appjs/services/constant/defaultValues.js"></script>
    <script src="appjs/services/constant/relativeUrls.js"></script>
    <script src="appjs/services/constant/messages.js"></script>
    <script src="appjs/services/constant/validationPattern.js"></script>
    <script src="appjs/services/constant/headerTypes.js"></script>
    <script src="appjs/services/constant/ticketStatusTypes.js"></script>
    <script src="appjs/services/constant/requestStatusTypes.js"></script>
    <script src="appjs/services/constant/rootScopeTypes.js"></script>
    <script src="appjs/services/constant/routeTypes.js"></script>
    <script src="appjs/services/constant/controlSuggestions.js"></script>
    <script src="appjs/services/constant/alertTypes.js"></script>
    <script src="appjs/services/constant/userTypes.js"></script>
    <script src="appjs/services/constant/storageTypes.js"></script>
    <script src="appjs/services/loader/constantLoader.js"></script>
    <script src="appjs/services/loader/serviceLoader.js"></script>
    <script src="appjs/services/utility/generalUtility.js"></script>
    <script src="appjs/services/utility/commonUtility.js"></script>
    <script src="appjs/services/utility/modalUtility.js"></script>
    <script src="appjs/services/data/userData.js"></script>
    <script src="appjs/services/data/vendorData.js"></script>
    <script src="appjs/services/data/monitorData.js"></script>
    <script src="appjs/services/business/userBusiness.js"></script>
    <script src="appjs/services/business/vendorBusiness.js"></script>
    <script src="appjs/services/business/monitorBusiness.js"></script>
    <script src="appjs/services/storage/localStorages.js"></script>
    <script src="appjs/directives/combobox.js"></script>
    <script src="appjs/directives/emailTextbox.js"></script>
    <script src="appjs/directives/phoneTextbox.js"></script>
    <script src="appjs/directives/addTextbox.js"></script>
    <script src="appjs/directives/passwordTextbox.js"></script>
    <script src="appjs/directives/normalTextbox.js"></script>
    <script src="appjs/directives/pinTextbox.js"></script>
    <script src="appjs/directives/numberTextbox.js"></script>
    <script src="appjs/directives/dashboardBox.js"></script>
    <script src="appjs/directives/saveBackButtons.js"></script>
    <script src="appjs/directives/singleButton.js"></script>
    <script src="appjs/directives/showAlert.js"></script>
    <script src="appjs/directives/viewItem.js"></script>
    <script src="appjs/directives/viewPhone.js"></script>
    <script src="appjs/directives/singleLineList.js"></script>
    <script src="appjs/directives/trueFalseRadio.js"></script>
    <script src="appjs/directives/viewEmail.js"></script>
    <script src="appjs/directives/viewLocs.js"></script>
    <script src="appjs/directives/rememberBox.js"></script>
    <script src="appjs/directives/viewItems.js"></script>
    <script src="appjs/directives/dateTimeTextbox.js"></script>
    <script src="appjs/directives/dashboardPicBox.js"></script>
    
    <!--app css files-->
    <link href="css/app.css" rel="stylesheet">
    
</head>
<body>
    <div>
        <show-alert></show-alert>
        <div ng-controller="appHomeController as vm">
            <div ng-show="vm.isMenuShow" class="shadow-div" ng-click="vm.onMenuClick();"></div>
            <div class="side-menu show-hide-side-menu" ng-show="vm.isMenuShow">
                <div class="menu-header">
                    <div class="arrow-side-opp" ng-click="vm.onMenuClick();"></div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item menu-item menu-item-home" ng-click="vm.onHomeClick()">Home</li>
                    <li class="list-group-item menu-item menu-item-about" ng-click="vm.onAboutClick()">About Us</li>
                    <li class="list-group-item menu-item menu-item-contact" ng-click="vm.onContactClick()">Contact Us</li>
                    <li class="list-group-item menu-item menu-item-work" ng-click="vm.onWorkClick()">How it works</li>
                    <li class="list-group-item menu-item menu-item-home" ng-hide="true">Exit App</li>
                    <li class="list-group-item menu-item italic">Version - 0.0.9</li>
                </ul>
            </div>
            <div id="page-content-wrapper" style="margin:0px; padding:0px; height:100%;">

                <div class="well well-header fixed-header">
                    <div class="row">
                        <div class="arrow-side" ng-click="vm.onMenuClick();">
                        </div>
                        <div class="header-text-main">
                            Cognitive Medical Assistant
                        </div>
                        <div class="header-guest-info">Hi, 
                            <span ng-show="{{'IS_SIGN_IN' | rootScopeShow}}" ng-bind="{{'NAME' | rootScopeShow}}"></span>
                            <span ng-show="{{'IS_USER_TYPE_SHOW' | rootScopeShow}}" > (</span>
                            <span ng-show="{{'IS_USER_TYPE_SHOW' | rootScopeShow}}" ng-bind="{{'VEND_TYPE' | rootScopeShow}}"></span>
                            <span ng-show="{{'IS_USER_TYPE_SHOW' | rootScopeShow}}" >)</span>
                            <span ng-hide="{{'IS_SIGN_IN' | rootScopeShow}}">Guest</span>
                        </div>
                    </div>
                </div>

                <div style="padding-top: 110px; height:100%;" class="slideup" ng-view></div>
            </div>
        </div>
    </div>
    <div 
        cg-busy="{  promise: {{'DAL_PROMISE' | rootScopeShow}},
                    message: 'Loading',
                    backdrop: false,
                    minDuration: 700}"></div>
    
</body>
</html>