<div class="container">
    
    <button class="btn btn-default btn-lg btn-block" ng-click="vm.onUserManagementClick();">
        Client
    </button>
    <button class="btn btn-secondary btn-lg btn-block" ng-click="vm.onMonitoringGrpClick();">
        Monitoring Group
    </button>
    <button class="btn btn-warning btn-lg btn-block" ng-click="vm.onServiceManagementClick();">
	Service Management Group
    </button>
    <button class="btn btn-info btn-lg btn-block" ng-click="vm.onOnGroundVendorClick();">
	On Ground Vendor
    </button>
	
	<div style="width:200px; height:100px; z-index:999; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); background-color:red;" ng-if="false">
		<button class="btn btn-sq-lg btn-sq btn-primary" ng-click="vm.onUserRegistrationClick();">
			<span class="glyphicon glyphicon glyphicon-user"></span><br/>
				<h5>Registration</h5>
		</button>
	</div>
</div><!-- Container -->
