<form name="userPassForm" novalidate="novalidate" id="userPassForm">
<div class="container">
    <div class="page-title">Password Change Form</div>
    <p class="form-group">
        <label>Current Password*</label>
        <span class="error-msg-span" 
            ng-show="userPassForm.$submitted && 
            userPassForm.txtPass.$error.required">{{vm.passMsg}}</span>
        <input type="password" id="txtPass" name="txtPass" 
            ng-model="vm.pass" class="form-control" required>
    </p>
    <p class="form-group">
        <label>New Password*</label>
        <span class="error-msg-span" 
            ng-show="userPassForm.$submitted && 
            userPassForm.txtNewPass.$error.required">{{vm.passMsg}}</span>
        <input type="password" id="txtNewPass" name="txtNewPass" 
            ng-model="vm.newPass" class="form-control" required>
    </p>
    <p class="form-group">
        <label>Confirm Password*</label>
        <span class="error-msg-span" 
            ng-show="userPassForm.$submitted && 
            userPassForm.txtConPass.$error.required">{{vm.passMsg}}</span>
        <input type="password" id="txtConPass" name="txtConPass" 
            ng-model="vm.conPass" class="form-control" required>
    </p>
    <div class="row" style="text-align: center;">
        <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
            <p>
                <button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onSavePassClick(this);" type="submit">
                    <h5>Submit</h5>
                </button>
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
            <p>
                <button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onCancelClick();" type="button">
                    <h5>Cancel</h5>
                </button>
            </p>
        </div>
    </div>
</div>
</form>