<div class="container">
    <div class="page-title">Home</div>
    <div style="display: block;text-align: center;">
        <dashboard-box label="My Requests" icon="eye-open" notify
            on-click="vm.onMyRequestClick()"
            notify-number="{{vm.myRequestCount}}"></dashboard-box>
        <dashboard-box label="New Requests" icon="edit"
            on-click="vm.onNewRequestClick()"></dashboard-box>
        <dashboard-box label="Profile" icon="user"
            on-click="vm.onProfileClick()"></dashboard-box>
        <dashboard-box label="Logout" icon="off" red
            on-click="vm.onLogoutClick()"></dashboard-box>
    </div>
</div>