<form name="userRegForm" novalidate="novalidate" id="userRegForm">
<div class="container">
    <div class="page-title">Client Registration</div>
    
    <email-textbox label="Email/Login Id" for="txtEmail" ng-model="vm.email"
        show-validation="userRegForm.$submitted && (userRegForm.txtEmail.$error.pattern || 
			userRegForm.txtEmail.$error.required)" required>
    </email-textbox>
    
    <password-textbox label="Password" for="txtPass" ng-model="vm.pass"
        show-validation="userRegForm.$submitted && 
            userRegForm.txtPass.$error.required" required></password-textbox>
    
    <normal-textbox label="Name" for="txtName" required
        ng-model="vm.name" show-validation="userRegForm.$submitted && 
            userRegForm.txtName.$error.required" msg="VALID_NAME"></normal-textbox>
    
    <combobox label="Gender" for="txtGender" sel
        label-binding="name" model-binding="code" ng-model="vm.gender"
        items="vm.genderList" msg="REQ_GENDER" required
        show-validation="userRegForm.$submitted && 
            userRegForm.txtGender.$error.required" readOnly="false"></combobox>
    
    <p class="form-group">
            <label>Age</label>
            <input type="number" id="txtAge" name="txtAge" 
                    ng-model="vm.age" class="form-control">
    </p>
    
    <combobox label="Country" for="txtCountry" sel
        label-binding="name" model-binding="isoCode" ng-model="vm.country"
        items="vm.countryList" msg="REQ_COUNTRY" required
        show-validation="userRegForm.$submitted && 
            userRegForm.txtCountry.$error.required" readOnly="false"></combobox>
    
    <normal-textbox label="State" for="txtState" required
        ng-model="vm.state" show-validation="userRegForm.$submitted && 
            userRegForm.txtState.$error.required" msg="REQ_STATE"></normal-textbox>
    
    <normal-textbox label="City" for="txtCity" required
        ng-model="vm.city" show-validation="userRegForm.$submitted && 
            userRegForm.txtCity.$error.required" msg="REQ_CITY"></normal-textbox>
    
    <normal-textbox label="Address" for="txtAddress" required
        ng-model="vm.address" show-validation="userRegForm.$submitted && 
            userRegForm.txtAddress.$error.required" msg="REQ_ADDRESS"></normal-textbox>
    
    <pin-textbox label="Pin Code" for="txtPinCode" required
        ng-model="vm.pinCode" show-validation="userRegForm.$submitted && 
            userRegForm.txtPinCode.$error.required"></pin-textbox>
    
    <phone-textbox label="Phone" for="txtPhone" country-for="comboCountry" ng-model="vm.phone" 
        countries="vm.countryList" label-binding="name" model-binding="isdCode"
        show-validation="userRegForm.$submitted && (userRegForm.txtPhone.$error.pattern || 
            userRegForm.txtPhone.$error.required || userRegForm.comboCountry.$error.required)" required
        country-phone-code="vm.countryPhoneCode">
    </phone-textbox>

    <div style="min-height: 15px; padding:15px;"></div>
	<div class="row" style="text-align: center;">
		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
			<p>
				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onSaveClick(this);" type="submit">
					<h5>Submit</h5>
				</button>
			</p>
		</div>
		<div class="col-lg-6 col-sm-6 col-xs-6 col-md-6" >
			<p>
				<button class="btn btn-sq-lg btn-rec-sm btn-primary" ng-click="vm.onCancelClick();" type="button">
					<h5>Cancel</h5>
				</button>
			</p>
		</div>
	</div>
</div><!-- Container -->
</form>