.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  word-wrap: break-word; 
}

.btn-sq {
  width: 125px !important;
  height: 125px !important;
  font-size: 10px;
  word-wrap: break-word;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
  word-wrap: break-word;
}

.btn-rec-sm {
  width: 100px !important;
  height: 50px !important;
  font-size: 10px;
  word-wrap: break-word;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
  word-wrap: break-word;
}

.info-box{
	background: rgb(212,228,239); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=1 ); /* IE6-9 */
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.list-box{
	width: 98%;
}

.page-title{
	margin: -0.2em 0 0.5em 0;
	font-weight: 500;
	font-family: sans-serif;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 20px;
	color: #355681;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}

.well-header{
    text-align: center !important;
    background: url("../images/4.jpg");
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    color: white;
    height: 98px;
    width: 100%;
}

.header-guest-info{
    float:right; 
    font-size: 0.7em; 
    padding-top: 11px;
    font-style: italic;
}
.header-text-main{
    font-weight: bold; 
    font-family: verdana; 
    font-size: 1.1em; 
    width: 60%; 
    margin-top: 9px;
    margin-left: 125px;
    text-transform: capitalize; 
    text-shadow: 2px 2px 2px #CCCCCC;
}
.fixed-header{
    position: fixed; 
    z-index: 99;
}
.cg-bg-loading{
    position: fixed !important; 
    top:98px; 
    width:120px; 
    left: 50%;
}
.phone-field{
    width:40%; 
    float:right; 
    display: inline;
}
.phone-field-country{
    width:45%; 
    display: inline;
}
.phone-field-country-code{
    display: inline;
}
.phone-field-add{
    width:30%; 
    margin-left: 5px;
    display: inline;
}
.phone-code-field{
    float:left; 
    display: inline; 
    margin-top: 5px;
}
.badge-danger{
  background-color: #FF0000  !important;
  color: white !important;
  font-weight: 2.0em !important; 
}

.error-msg-span{
	float: right; 
	color: red; 
	font-size: 8pt;
}

.accept-vend{
    color: green; 
    margin-left: 20%;
    display:inline; 
    width:50%;
    font-size: 1.2em;
    font-weight: bold;
}
.decline-vend{
    color: red; 
    float: right; 
    text-align: center;
    display:inline; 
    width:50%;
    font-size: 1.2em;
    font-weight: bold;
}
.ticket-action{
    display:block; 
    width:100%;
}

.info-msg{
    color: cornflowerblue; 
    font-size: 0.8em; 
    font-style: italic;
}

.ui-control-look{
    background: #FFFFFF;
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #C2CCD9;
    outline:0; 
    padding-left: 30px;
}
.ui-control-look-email{
    background: url(../images/email.png) no-repeat 8px 8px; 
}
.ui-control-look-pass{
    background: url(../images/pass.gif) no-repeat 8px 8px; 
}
.ui-control-look-user{
    background: url(../images/user.gif) no-repeat 8px 8px; 
}
.ui-control-look-state{
    background: url(../images/state.gif) no-repeat 8px 8px; 
}
.ui-control-look-address{
    background: url(../images/address.gif) no-repeat 8px 8px; 
}
.ui-control-look-gender{
    background: url(../images/gender.png) no-repeat 8px 8px; 
}
.ui-control-look-cal{
    background: url(../images/cal.gif) no-repeat 8px 8px; 
}
.ui-control-look-view{
    background: url(../images/viewer.png) no-repeat 8px 8px; 
}
.ui-control-look-sqr{
    background: url(../images/sqr.GIF) no-repeat 8px 8px; 
}
.ui-control-look-pie{
    background: url(../images/pie.GIF) no-repeat 8px 8px; 
}
.ui-control-look-phone{
    background: url(../images/phone.png) no-repeat 8px 8px; 
}
.ui-control-look-log{
    background: url(../images/log.gif) no-repeat 8px 8px; 
}
.ui-control-look-flame{
    background: url(../images/flame.png) no-repeat 8px 8px; 
}
.ui-control-look-template{
    background: url(../images/template.gif) no-repeat 8px 8px; 
}
.ui-control-look-datasheet{
    background: url(../images/datasheet.gif) no-repeat 8px 8px; 
}
.ui-control-look-prod{
    background: url(../images/prod.gif) no-repeat 8px 8px; 
}
.ui-control-look-search{
    background: url(../images/search.gif) no-repeat 8px 8px; 
}

.ui-control-label{
    font-weight: normal;
    font-family: cursive;
    margin-bottom: 0px;
    margin-left: 13px;
}

.add-box{
    width:80%; 
    display:inline;
}
.add-textbox-wid{
    width:89%; 
    display:inline;
}
.add-btn{
    float:right; 
    display:inline;
    margin-top: 5px;
}

body{
  background-color:  #FFFFFF;
  height: 100%;
  width: 100%;
}

.glyphicon {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.left-margin-20{
    margin-left: 20px;
}

.min-height-25{
    min-height: 25px;
}

.box-text{
    color: black;
    text-align: center;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    margin-top: 10px;
}

.box-notification{
    padding: 3px 6px;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    background: #2D89EF !important;
    float: right;
    font-weight: 200;
}

.dash-div-box{
    height: 90px;
    width: 90px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    border: solid 1px #337AB7;
    color: #121E31;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 3px rgba(18,30,49,.75);
    -moz-box-shadow: 0px 0px 3px rgba(18,30,49,.75);
    box-shadow: 0px 0px 3px rgba(0,0,0,.75);
    font-family: sans-serif;
    font-weight: 400;
    vertical-align: top;
}
.orange{
    color: #EC3C00;
}
.red{
    color: #FF0000;
}
.blue{
    color: #269abc;
}

.cg-busy{
    position: fixed;
    top: 97px;
    left: 220px;
    right: 0px;
    bottom: 0px;
    z-index: 1001;
}

.action-btn-space{
    padding-top: 5px;
    padding-bottom: 12px;
}

.container{
    min-height: 100% !important;
    height: 100%;
    width: 100%;
}

.show-alert-outer-div{
    position: absolute; 
    top: 104px; 
    width: 100%; 
    height: 80%;
    margin: auto 0px; 
    padding: 15px; 
    margin-left: 0px; 
    z-index: 1001;
}
.show-alert-div{
    box-shadow: 10px 10px 5px grey;
}
.show-alert-success{
    background-color: #4CAF50; 
    border: solid 1px #3D8B40;
    color: #FFFFFF;
}
.show-alert-info{
    
}
.show-alert-warning{
    
}
.show-alert-danger{
    background-color: #F67975; 
    border: solid 1px #AD5855;
    color: #590000;
}
.fade.ng-hide{
    transition: 1.0s linear all;
    opacity: 0;
}
.fade {
    opacity: 1;
}

.view-details-item-div{
    width: 100%; 
    display: block; 
    border-color: #adadad; 
    border-style:dashed; 
    border-width: 1px 0px;
    padding-bottom: 2px; 
    padding-top: 3px; 
    margin-top: 3px; 
    margin-bottom: 3px;
}
.view-details-item-label{
    color: #7C736E; 
    font-family: Lucida Grande,Trebuchet MS,serif,sans-serif; 
    font-size: 0.9em;
    font-weight: 600; 
    display: inline-block; 
    width: 30%; 
    clear: right;
    vertical-align: top;
    margin-top: 2px;
}
.view-details-item-span{
    color: #021A3C; 
    display: inline-block; 
    width: 66%;
    font-family: Lucida Grande,Trebuchet MS,serif,sans-serif;
}
.view-details-item-img{
    margin-top: -4px;
    cursor: pointer;
}
.list-view-items{
    display:block;
    line-height: 25px;
}

.background-green{
    background-color: green;
}
.background-red{
    background-color: red;
}
.badge{
    margin-left: 6px;
    margin-top: -1px;
}

.list-alter-row, .list-alter-row-single{
    background-color: #ECEEEF;
    max-height: 60px;
}
.list-alter-row-single, .list-opp-alter-row-single{
    max-height: 40px;
    padding: 3px 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.list-group-item-heading{
    font-weight: bold;
}
.row-height-100{
    max-height: 100px;
}
.left-margin-20{
    margin-left: 20px;
}
.list-group-div-text-block, .list-group-div-text-block-single{
    width: 85%; 
    height:100%; 
    clear: right; 
    display: inline-block;
}
.list-group-div-text-block-single{
    width: 92%;
    line-height: 1px;
    height: 1px;
}
.list-group-div-btn-block, .list-group-div-btn-block-single{
    width: 12%; 
    height:100%; 
    clear: left; 
    float: right; 
    padding-top: 4px;
    display: inline-block;
}
.list-group-div-btn-block-single{
    width: 6%; 
}
.list-group-single{
    padding: 0px;
}

.pass-strgth-pbar{
    height: 2px !important;
    margin-bottom: 5px;
    margin-top: 2px;
}
.progress-bar-warning, .progress-bar, .progress-bar-success{
    height: 2px !important;
}
.progress{
    height: 4px;
    margin-bottom: 0px;
    width: 95%;
    margin-left: 15px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    max-width: 75%;
    width: 250px;
}

.header-filter{
    width: 50px; 
    height:20px; 
    display: inline-block; 
    float: right; 
    text-transform: none;
    background: url(../images/du_arrow.jpg) no-repeat 33px 2px;
}
.header-filter-img-down{
    background: url(../images/dd_arrow.jpg) no-repeat 33px 2px;
}

.filter-content-div{
    width: 100%;
    height: 40px;
}
.show-hide-ani{
    transition: all linear 0.5s;
}
.show-hide-ani.ng-hide {
    height: 0;
}

.side-menu{
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #343538;
    z-index: 400;
    opacity: 0.5em;
}
.show-hide-side-menu{
    transition: all linear 0.3s;
}
.show-hide-side-menu.ng-hide {
    width: 0;
}
.arrow-side{
    position: absolute;
    top: 0px;
    left: 0px;
    width:25px; 
    height:70px;
    background: url("../images/arrow.png") no-repeat 3px 15px;
    z-index:400;
}
.arrow-side-opp{
    width:25px; 
    height:100%;
    background: url("../images/arrow_opp.png") no-repeat 5px 18px;
    float: right;
}
.menu-header{
    width: 100%; 
    height:90px; 
    display: block;
    border-bottom: solid 1px #E1E1E1;
    background: url("../images/head1.png") no-repeat 5px 2px;
}

.shadow-div{
    width:100%; 
    height:100%; 
    position: absolute; 
    top:0px; 
    left:0px; 
    z-index: 300;
    background-color: navy;
    opacity: 0.1;
}

.menu-item{
    color: #FFFFFF;
    background-color: transparent;
    border: 0px;
    border-bottom: solid 1px #E1E1E1;
    min-height: 30px;
    padding-left: 40px;
}
.menu-item-contact{
    background: url("../images/contact.png") no-repeat 8px 8px;
}
.menu-item-about{
    background: url("../images/about.png") no-repeat 8px 8px;
}
.menu-item-work{
    background: url("../images/work.png") no-repeat 8px 8px;
}
.menu-item-home{
    background: url("../images/home.png") no-repeat 8px 8px;
}

.italic{
    font-style: italic;
}

/*checkbox - start*/
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: sans-serif;
      content: url("../images/tick.png");/* "\f00c"; */
    }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }
  .checkbox.checkbox-single label {
    height: 17px; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
/*checkbox - end*/